<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <RollingFile name="RollingFileAppender1" fileName="/data0/logs/webant/logmonitor.log" filepattern="/data0/logs/webant/logmonitor_%d{yyyyMMdd}_%i.log" append="true">
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} service_name=&quot;dap_service&quot; event_severity=&quot;%-5p&quot; event_description=&quot;%m&quot; event_type=&quot;%c{1}&quot;%n"/>
      <ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY"/>
	  <Policies>
        <OnStartupTriggeringPolicy />
        <TimeBasedTriggeringPolicy />
        <SizeBasedTriggeringPolicy size="10 MB"/>
      </Policies>
    </RollingFile>
     <Console name="Console" target="SYSTEM_OUT">    
      <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>    
      <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %class{36} %L %M - %msg%xEx%n"/>    
    </Console> 
  </Appenders>
  <Loggers>
    <Logger name="org.apache.log4j.xml" level="debug">
      <AppenderRef ref="RollingFileAppender1"/>
    </Logger>

    <Root level="debug">
      <AppenderRef ref="RollingFileAppender1"/>
       <AppenderRef ref="Console"/>
    </Root>
    
    
  </Loggers>
</Configuration>